{% extends "MapBundle::base.html.twig" %}
{% block  container %}
    <input id="lat" type="hidden" value="{{ coordonnes['latitudes'] }}"/>
    <input id="lng" type="hidden" value="{{ coordonnes['longitudes'] }}"/>
    <div id="map-canvas" style="width: 500px;height: 380px;"></div>
{% endblock %}