{# total items count #}
{% extends '@Blog/Default/templateBlog.html.twig' %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8" id="articlesP">
            {% include '@Blog/Article/paginationTemplate.html.twig' with {'pagination': pagination}%}
        </div>

        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Recherche</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Rechercher..." name="rechtt" id="rechT">
                    </div>
                        <div class="=input-group">
                        </div>
                </div>
            </div>

            <!-- Categories Widget -->

    </div>
    </div>
</div>
    <script src="{{ asset('bundles/blog/blogTemplate/vendor/jquery/jquery.js') }}"></script>
    <script>

        $("#rechT").keyup(function(){
            that = $(this);
            $.ajax({
                url:'{{ (path('blog_listeArticles')) }}',
                type: "POST",
                data: {
                    "text": $("#rechT").val()
                },
                async: true,
                success: function (data)
                {
                    console.log(data)
                    $('#articlesP').html(data);

                }
            });
            return false;

        });
    </script>
{% endblock %}