{% extends "layout.html.twig" %}
{% block banner %}
    <p>banner</p>
{% endblock %}

{% block container1 %}
    <p>Container 1</p>
{% endblock %}

{% block container2 %}
    this is my container 2 :D
{% endblock %}
