{% extends "::base.html.twig" %}

{% block title %}ProfilBundle:Etablissement:ajouter{% endblock %}

{% block body %}
<h1>Welcome to the Etablissement:ajouter page</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
