{% extends "base.html.twig" %}

{% block body %}
    <div class="w3l_banner_nav_right">
        <div class="w3ls_w3l_banner_nav_right_grid">
            <h3>Etablissements</h3>
                <div class="w3ls_w3l_banner_nav_right_grid1">
                    {% for etablissement in etablissements %}
                        <div id="searchResult">
                            <div class="col-md-3 w3ls_w3l_banner_left">
                                <div class="hover14 column">
                                    <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                        <div class="agile_top_brand_left_grid_pos">
                                            <p style="z-index: 22000; position: absolute;">{% if etablissement.horraire |date('h:i:s') < "now" |date('h:i:s') %} <i class="badge badge-success">Ouvert</i> {% else %}<i class="badge badge-danger">Fermé</i>{% endif %}</p>
                                        </div>
                                        <div class="agile_top_brand_left_grid1">
                                            <figure>
                                                <div class="snipcart-item block">
                                                    <div class="snipcart-thumb">
                                                        <a href=""><img src="{{ asset('bundles/blog/template/images/'~ etablissement.photo ) }}" alt=" "
                                                                        class="img-responsive"/></a>
                                                        <p>{{ etablissement.nom }}</p>
                                                    </div>
                                                    <div class="snipcart-details">
                                                        <fieldset>
                                                            <a href=""><input style="background-color: #080808" type="submit" name="submit" value="Partager" class="button"/></a>
                                                            <a href="{{ path('detail_etab',{'idDetail':etablissement.id} ) }}"><input type="submit" name="submit" value="Détails" class="button"/></a>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
        </div>
    </div>

{% endblock %}