{% extends "::base.html.twig" %}

{% block title %}ParcBundle:Modele:update{% endblock %}

{% block body %}
<center><h1>Welcome to the Etablissement:update page</h1>
    {{ form_start(form) }}

    {{ form_end(form) }}
</center>
{% endblock %}
