{% extends '@Blog/Default/template.html.twig' %}
{% block title %}Utilisateur:{% endblock %}

{% block content %}
    <section class="wrapper">
        <div class="inner">
        {% block fos_user_content %}{% endblock %}
        </div>
    </section>
{% endblock %}
