{% extends "@Blog/Default/template.html.twig" %}

{% block title %}ProfilBundle:Utilisateur:all {% endblock %}

{% block content %}
    <center><h1>List des utilisateurs</h1>

        <table border="3">
            <tr>
            </tr>
            {% for user in utilisateurs  %}

            {% endfor %}
        </table>
    </center>
{% endblock %}
